install:
  - cinst 7zip
# Download most recent Julia Windows binary
  - ps: (new-object net.webclient).DownloadFile('http://s3.amazonaws.com/julialang/bin/winnt/x64/0.3/julia-0.3.0-prerelease-win64.exe', 'C:\projects\julia-binary.exe')
# Extract installer, run it silently, output to C:\projects\julia
  - 7z x C:\projects\julia-binary.exe -oC:\projects\julia
  - C:\projects\julia\julia-installer.exe /S /D=C:\projects\julia

environment:
  HOMEDRIVE: "C:"
  HOMEPATH: \Users\appveyor

build_script:
  - C:\projects\julia\bin\julia-debug-readline -e "Pkg.init(); run(`cp -r $(pwd()) $(Pkg.dir())/Ito`); Pkg.pin(\"Ito\"); Pkg.resolve()"

test_script:
  - C:\projects\julia\bin\julia-debug-readline -e "using Ito; @assert isdefined(:Ito); @assert typeof(Ito) === Module"
  - C:\projects\julia\bin\julia-debug-readline test/Ito.jl
